Hi <%= @resource.first_name %>
<div style="margin-top:10px;"> 
A job have been assigned to you by <%= @user.first_name%>

Job Title - <%=@job.title%>
</div>
Please log into your <%= @resource.first_name %> dashboard to view Job and manage job.   

Regards

PHD Team
<div style="margin-top:10px;"> 
</div>