Hi Admin
<div style="margin-top:10px;"> 
New job created on site.</div>
<div style="margin-top:3px;"> 
Job Title: <%= @job.title %></div>
<div style="margin-top:5px;"> 
<b>Regards<br> MYPHD<br>
Team</b>
</div>