 <div class="banner_cov">
 <%= image_tag("banner_inn.jpg") %></div>  
 <div class="container">
  <div class="col-md-6 sign_pop col-md-offset-3"><h1>New Job</h1>

<%= render 'form' %>

<%= link_to 'Back', jobs_path %>
</div></div>