<table class="table table-bordered">
  <thead>
    <th>Vacancies Applied For</th>
    <th>Reviewed by PhD</th>
    <th>Interview with PhD</th>
    <th>Submitted to Client</th>
    <th>Interview Status</th>
  </thead>
</table>
