
<div class="wrapper">
  
  <div class="container">
    
    <div class="start">
      
      <h2>About Your Cube</h2>
    <h3>Enterepreneurship, Vision and Delivery</h3>
    
    <p class="hdng">The system was designed by Chris Forbes who has spent 20 years in IT, Consulting and Executive Search</p>
    
    </div>
    
    
    <div class="blocks">
      
      <div class="this">
        
        <img src="<%=asset_path('img/about_1.jpg') %>" >
        <p><b>Chris Forbes</b> is an enterepreneurand CEO of award winning business.</p>
      
      </div>
      
      <div class="this">
        
        <img src="<%=asset_path('img/about_2.jpg') %>" >
        <p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
      
      </div>
      
      <div class="this">
        
        <img src="<%=asset_path('img/about_3.jpg') %>" >
        <p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
      
      </div>
      
      <div class="this">
        
        <img src="<%=asset_path('img/about_4.jpg') %>" >
        <p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
      
      </div>
      
    </div>
    
    
    
  </div>

</div>