<!-- <div class="">
<img src="http://www.phdsearchandselection.com/assets/imgpsh_fullsize_banner.jpeg" class="banner_img" alt="">
  <div class="container static_page">
    <h1>Contact Us </h1>
	<img src="http://www.phdsearchandselection.com/assets/imgpsh_fullsize.jpeg" alt="" class="pull-right">
    <p>For more information about our terms and how we can support your business please contact.</p>
    <div style="font-weight: 700; margin-top: 3%;">
		Chris Forbes<br>
		Managing Director<br>
		Headquarters/London Office<br>
		4 Lombard St<br>
		London<br>
		EC3V 9HD<br>
		Tel: + 44 (0) 20 7190 2970<br>
		Email:chris.forbes@phdit.com<br><br><br>
	</div>


  </div>
</div>
<div>
 -->
 <div class="wrapper">
	
	<div class="container">
		
		<div class="start">
			
			<h2>Contact Us</h2>
		<h3>Digital Solutions for the Digital Age</h3>
		
		
		
		</div>
		
		
		<div class="blocks">
			
			<div class="this">
				
				<img src="<%=asset_path('img/con_1.jpg') %>" >
				<p><b>+44 (0)2071902970</b></p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/con_2.jpg') %>" >
				<p><a href="mailto:chris.forbes@yourcube.co.uk">chris.forbes@yourcube.co.uk</a></p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/con_3.jpg') %>" >
				
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/con_4.jpg') %>" >
				
			
			</div>
			
		</div>
		
		
		
	</div>

</div>