<div class="">
<img src="http://www.phdsearchandselection.com/assets/imgpsh_fullsize_banner.jpeg" class="banner_img" alt="">
  <div class="container static_page">
    <h1>Contact Us </h1>
	<img src="http://www.phdsearchandselection.com/assets/imgpsh_fullsize.jpeg" alt="" class="pull-right">
    <p>For more information about our terms and how we can support your business please contact.</p>
    <div style="font-weight: 700; margin-top: 3%;">
		Chris Forbes<br>
		Managing Director<br>
		Headquarters/London Office<br>
		4 Lombard St<br>
		London<br>
		EC3V 9HD<br>
		Tel: + 44 (0) 20 7190 2970<br>
		Email:chris.forbes@phdit.com<br><br><br>
	</div>


  </div>
</div>
<div>
