<div class="">
<img src="http://www.phdsearchandselection.com/assets/imgpsh_fullsize_banner.jpeg" class="banner_img" alt="">
  <div class="container static_page">
    <h1>How It Works </h1>
  </div>
<div class="container">

<p>Learn more about my PhD</p>

<p>

This is a new engagement platform for clients and candidates to interact with each other on a portal.  The system was designed for large companies seeking to create better engagement with top talent and create transparency in the interview process.

</p>

<P>

The system includes some following features:

</P>

<ul>

<li> 1 page view of the recruitment process to date with comments and actions</li>

<li>

Candidate and client's comments and feedback after each interview

</li>

<li>

Upload/download word/pdf CVs and job descriptions

</li>

<li>

Automated diaries

</li>

<li>

Notifications when comments are added

</li>

</ul>

<p>

It allows clients to:

</p>

<ul>

<li>Create jobs, upload job descriptions and download word/pdf CVs.</li>

<li>

Manage the recruitment process more effectively particularly when working across multiple sites and different time zones.

</li>

<li>

Allow interviewers to see within a few minutes the CV, job description and comments so they go into the interview with all the relevant information rather than trying to collect all the information from emails.

</li>

<li>

Sell to the candidate what they like about them and what they need to see more of.

</li>

<li>

When the candidate is interviewing with different companies stand out from the competition by engaging with them in more detail.

</li>

<li>

Understand how the candidate interacts with you and get an indication of how they will perform in the role.

</li>

<li>

Provide detailed information for executives on the recruitment processes within their organisation, the quality of CVs coming in and if things break down in the recruitment process this highlights where the problems are occurring.

</li>

</ul>

<p>

It allows candidates to 

</p>

<ul>

<li>Apply to different roles</li>

<li>

Upload different CVs download the job descriptions in word or pdf.

</li>

<li>

Interact with the client throughout the interview process</li>

<li>

Provide direct feedback after interviews

</li>

<li>

One page view with all the dates and comments allowing you to make a more informed decision about the role and company culture

</li>

<li>

Get automated email interview dates</li>



</ul>

<p>

For those who have been interviewing candidates this will solve the problem of going through lots of email, chasing up feedback, finding key dates, getting CVs and job descriptions.

</p>

<p>

For those who are candidates it will allow you to see the interview process, be informed when next steps are to be taken or if you are rejected, see feedback, learn more about the company and the culture.

</p>

<p>

The next step is to sign up if you are a client or candidate and change the way you find your next role or recruit.

</p>

</div>
</div>
<div>
