<html>
    <head>        
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>page</title>
        <link rel="stylesheet" href="style.css">
    </head>
<body>
 <section>
    <div class="container-fluid">
        <div class="col-sm-7 col-xs-12 info">
            <div class="imgs" >
                <img src="<%= asset_path('AKJ_Design.jpg') %>">
                <img class="img-r" src="<%= asset_path('AKJ_Design (1).jpg') %>">
            </div>
            <h5>AKJ is using a powerful new collaborative tool from YourCube to attract mange the recruitment process.</h5>
            <ul>
                <li>simply sign up as new candidate</li>
                <li>select the job category you wish to apply for</li>
                <li>then you will be able to comment and receive notifications at
                <ul>
                    <li>CV review</li>
                    <li>interview stages</li>
                    </ul></li>
                <li>this is new collaborative experience designed for you to show case your professionalism to us and for us to show for us to show you why we are one of the leading firms in hedge fund solutions.</li>
            </ul>
            
        </div>
        
         <div class="navbar-header" style="">
         <ul class="nav navbar-nav ">
           <li ><a href="#" style="color: black; padding: 5px;">Trading System</a></li>
           <li><a href="#" style="color: black;padding: 5px;">Commision management</a></li>
            <li><a href="#" style="color: black; padding: 5px;">Trading Infrastructure</a></li>
           <li><a href="#" style="color: black;padding: 5px;">Exchanges</a></li> 
       </ul> 
        </div> 
        <div class="col-sm-5 col-xs-12">
        <img class="i" src="<%= asset_path('FT4A8014-1-2560x490.png') %>">
    </div>    
    </div> 
 </section>
<script src="https://code.jquery.com/jquery-3.2.1.js"
          integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
          crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
 </body>
</html>


<style type="text/css">

nav .nav>li {
     padding: 0px 0; 
}
.nav-c{
    background: #4D4D4D !important;
}
.navbar
{
 margin-bottom: 0;
 border-radius: 0;   
}
@media(min-width: 1000px){
.nav-c .container
    {
        width: 1100px;
    }
}
section
{
 background: white;
 padding:30px;
}
.imgs
{
margin-bottom: 30px;
}
body{
background: #0E0E0E;
margin-top: 30px;}
.img-r
{
    float: right;
}
@media(max-width:989px){
    .navbar-default .navbar-nav>li>a{
        padding: 4px;
    }
    .btn-default{
        width: 100%;
    }
}
.info h5
{
    font-weight: 600;
}
.info ul li
{
    font-weight: 600;
}
/*.info ul
{
    list-style: none;
}*/
.info ul ul
{
    padding: 25px ;
}
.i{
max-width: 100%;
height: 420px;
}
.navbar-default{
    border: none;
}
.navbar-default .navbar-nav>li>a:hover 
{
    color: #BDA255 !important;

}

@media(min-width:989){
.navbar-default .navbar-nav>li>a
{
   /* color: #CCCAD8;*/
    font-size: 15px;
    padding: 16px;
    padding-top: 30px;
    padding-bottom: 24px;
    padding-top: 14px;
    padding-bottom: 11px;


}
.navb .form-control
{
    width: 200px;
}
}
.navb
{
    background: #000;
    border-radius: 0;
}

.navb .btn-default
{
    background-color: #4587E8;
    color:white;
    border-radius: 0;
    border: none;
}
.b
{
background:  #4587E8;
color: white;
margin-right: 10px;
}
.c li
{
   margin-top: 7px;
}
.g
{
    background: #007713;
    color: white;
}
.navbar-nav>li>a{
    color: white;
}

nav .nav>li>a {
    font-size: 16px;
    color: #f5eded;
}
.navbar-nav>li>a{
    padding-top: 7px;
    padding-bottom: 7px;
}
footer
{
    background: #4D4D4D
}
.footer-ul {
    list-style: none; 
}
.clear
{
    clear: both;
    margin-bottom: 20px;
}
.footer-ul li
{
float: left;
border: 1px solid #AFA79C;
padding: 5px 20px;
border-radius: 15px;
margin-right: 20px;  
}

.footer-ul li a{
    color: #AFA79C;
}
footer .p
{
    font-size: 10px;
    color: white;
    padding: 2px 20px 10px 42px;
}
nav .nav>li>a i{
    font-size: 13px; 
    min-width: 15px;
    display: inline-block;
    text-align: center;
    color: #fff;
}
nav .nav>li>a i:hover{
    color: #BDA255 !important;

    }

nav .form-group {
    float: left;
    margin-left: 15px;
    position: relative;
    margin-right: 5px;
}
nav .nav>li>a {
    font-size: 13px;
}
.navbar-default .navbar-nav > li > a {

    color: #fff !important ;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    padding: 14px 11px;

}

.navbar-default .navbar-nav > li > a:hover {
    background-color: none !important;
}

nav .navbar-nav > li > a:hover{
    background-color: none !important;
}

nav > li > a:focus, .nav > li > a:hover {
    background-color: none !important;
    text-decoration: none;
}
</style>
