<div class="banner">
 
  <div class="content">
    <h1>Change the <br>way you Recruit</h1>
    <p>More recruitment tools, features, better execution with simple clicks</p>
    <p>You need to get a head start in the Recruitment markets today</p>  
    <a href="<%= how_it_work_path %>" class="btn btn-info btn-lg">Learn more <i class="fa fa-angle-right"></i></a>
  </div>
</div>
<div>
