<div class="wrapper">
	
	<div class="container">
		
		<div class="start">
			
			<h2>Your Cube - The Future Is Now</h2>
		<h3>Engage with top talent on one portal</h3>
		
		<p class="hdng">The platform is designed for companies to create better work flows management by bringing it all togehter. </p>
		
		</div>
		
		
		<div class="blocks">
			
			<div class="this">
				
				<img src="<%=asset_path('img/1.png') %>" >
				<p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/2.png') %>" >
				<p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/3.png') %>" >
				<p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/4.png') %>" >
				<p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
			
			</div>
			
		</div>
		
		
		
	</div>

</div>
