<div class="wrapper">
	
	<div class="container">
		
		<div class="start">
			
			<h2>Your Cube - The Future Is Now</h2>
		<h3>Engage with top talent on one portal</h3>
		
		<p class="hdng">The platform is designed for companies to create better work flows management by bringing it all togehter. </p>
		
		</div>
		
		
		<div class="blocks">
			
			<div class="this">
				
				<img src="<%=asset_path('img/1.png') %>" >
				<p><b>Document Management</b> Interviewers can download and upload formatted word or pdf job descriptions via the platform.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/2.png') %>" >
				<p><b>Reduce Tracking Tools,</b>No more excel spreadsheets monitoring, stages, dates and interview feedback, get the workflow via the platform.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/3.png') %>" >
				<p><b>Save time and resources,</b>you will no longer have to track all the email communications on feedback. Everything is now on one platform.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/4.png') %>" >
				<p><b>More efficient </b> interview dates and stages are automated via emails to the candidates meaning less errors and easier data collection. </p>
			
			</div>
			
		</div>
		
		
		
	</div>

</div>
