<div class="">
<img src="http://www.phdsearchandselection.com/assets/imgpsh_fullsize_banner.jpeg" class="banner_img" alt="">
  <div class="container static_page">
    <h1>Privacy Policy </h1>
    <p>PhD are fully compliant with the Data Protection Act 1998 and your details will not be forwarded without your prior consent.</p>
    
    <p>CV Information</p>

    <p>For any job you apply your CV will be reviewed by an expert and you will be notified if we are interested in taking it forward.</p>

    <p>Please ensure that all details including dates of employment and contact information on your CV are correct.</p>

    <p>We will not forward your CV to roles you have not applied for, however we may from time to time email you about similar roles that you applied for that we match to your skill sets.</p>
  </div>
</div>
<div>
