<!-- <div class="">
<img src="http://www.phdsearchandselection.com/assets/imgpsh_fullsize_banner.jpeg" class="banner_img" alt="">
  <div class="container static_page">
    <h1>Privacy Policy </h1>
    <p>PhD are fully compliant with the Data Protection Act 1998 and your details will not be forwarded without your prior consent.</p>
    
    <p>CV Information</p>

    <p>For any job you apply your CV will be reviewed by an expert and you will be notified if we are interested in taking it forward.</p>

    <p>Please ensure that all details including dates of employment and contact information on your CV are correct.</p>

    <p>We will not forward your CV to roles you have not applied for, however we may from time to time email you about similar roles that you applied for that we match to your skill sets.</p>
  </div>
</div>
<div>
 -->

 <div class="wrapper">
	
	<div class="container">
		
		<div class="start">
			
			<h2>Secure Data & Privacy Policy</h2>
		<h3>Documents via The Google Cloud</h3>
		
		<p class="hdng">The system architecture is container based meaning that eachclient gets their own version of the software</p>
		
		</div>
		
		
		<div class="blocks">
			
			<div class="this">
				
				<img src="<%=asset_path('img/2_1.jpg') %>" >
				<p><b>Google Cloud</b>is a fast and secure cloud architecture fully compliant with industry standards. The system is container based and everyone gets their own secure environment.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/2_2.jpg') %>" >
				<p><b>Secure Data Storage,</b> The Google Cloud has the most advanced data encryption and numerous disaster recovery layers to ensure your data is safe and secure.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/2_3.jpg') %>" >
				<p><b>User Access Control,</b>the master admin function means that people can only see the work streams and data that are assigned to them.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/2_4.jpg') %>" >
				<p><b>Privacy</b>we are fully compliant with the Data Protection Act 1998 and all personal and company details are secure and not shared between users within the wider platform.</p>
			
			</div>
			
		</div>
		
		
		
	</div>

</div>
