<!-- <div class="">
<img src="http://www.phdsearchandselection.com/assets/imgpsh_fullsize_banner.jpeg" class="banner_img" alt="">
  <div class="container static_page">
    <h1>Terms & Conditions</h1>
<div>
 -->
 <div class="wrapper">
	
	<div class="container">
		
		<div class="start">
			
			<h2>Terms & Conditions</h2>
		<h3>Fair, Affordable, Scalable</h3>
		
		<p class="hdng">30 Day Trial Available for Enterprise Edition. No implementation fees!</p>
		
		</div>
		
		
		<div class="blocks">
			
			<div class="this">
				
				<img src="<%=asset_path('img/about_4.jpg') %>" >
				<p><b>Free Edition</b>- is an enterepreneurand CEO of award winning business.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/about_5.jpg') %>" >
				<p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/about_6.jpg') %>" >
				<p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/about_7.jpg') %>" >
				<p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
			
			</div>
			
		</div>
		
		
		
	</div>

</div>