<div class="">
<img src="http://www.phdsearchandselection.com/candidates/wp-content/uploads/2015/04/PhD-Header3.jpg" class="banner_img" alt="">
  <div class="container static_page">
    <h1>Terms & Conditions</h1>
<div>
