<!-- <div class="">
<img src="http://www.phdsearchandselection.com/assets/imgpsh_fullsize_banner.jpeg" class="banner_img" alt="">
  <div class="container static_page">
    <h1>Terms & Conditions</h1>
<div>
 -->
 <div class="wrapper">
	
	<div class="container">
		
		<div class="start">
			
			<h2>Terms & Conditions</h2>
		<h3>Fair, Affordable, Scalable</h3>
		
		<p class="hdng">30 Day Trial Available for Enterprise Edition. No implementation fees!</p>
		
		</div>
		
		
		<div class="blocks">
			
			<div class="this">
				
				<img src="<%=asset_path('img/about_4.jpg') %>" >
				<p><b>Free Edition</b>- Up to 10 free users, this is designed to allow smaller organisations to grow fast without the burden of an expensive cloud system but more efficient than tracking recruitment via email and spreadsheets.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/about_5.jpg') %>" >
				<p><b>Enterprise Edition</b>- Free license but then on a £25 per user per month pricing structure. The enterprise edition allows larger organisations to manage their workflows across multiple offices on one portal.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/about_6.jpg') %>" >
				<p><b>Consulting,</b> Each system can be tailored to each company. This means that the entry pages can mirror from your servers and look exactly the same as your site. Additional features can be delivered on a day rate basis. </p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/about_7.jpg') %>" >
				<p><b>Terms of Use</b>– Our users are expected to behave in a professional manner. Anyone that is reported for false information or inappropriate behaviour will have their licence revoked. </p>
			
			</div>
			
		</div>
		
		
		
	</div>

</div>
