<table class="table jobs_tb table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Industry</th>
      <th colspan="2">Create/View Schedule</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title,"/admin/jobs/#{job.id}" %></td>
        <td><%= job.description.truncate(200) %></td>
        <td><%= job.try(:industry).try(:title) %></td>
        <td><%= link_to "Click", admin_candidate_job_schedules_path(@candidate,job) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
