 <footer>
  <div class="container">
      <div>
         <ul class="footer-ul"> 
              <li><a class="contact_form" href="<%= contact_path%>" style="border-radius: 30px;">Contact us </a></li>
              <li><a href="http://www.akj.com/about-akj#ouroffices" style="border-radius: 30px;">Our Offices</a></li>
              <li><a class="news_feed" href="http://www.akj.com/news" style="border-radius: 30px;">News</a></li>
              <li><a class="news_feed" href="http://www.yourcube.co.uk/jobs" style="border-radius: 30px;">careers</a></li>

          </ul>
              </div>
              <div class="clear"></div>
              <div class="p" >AK Jensen Group Limited | AK Jensen Investment Management Limited, authorised and regulated by the Financial Services Authority (FCA) | AK Jensen Limited, authorised and regulated by the Financial Services Authority (FCA) | AK Jensen Inc. | AKJ Simplon RICC Limited authorised and regulated by the Malta Financial Services Authority (MFSA)</div>
          </div>
  </footer>
  <style type="text/css">
  footer
{
    background: #4D4D4D
}
.footer-ul {
    list-style: none; 
}
.clear
{
    clear: both;
    margin-bottom: 20px;
}
.footer-ul li
{
float: left;
border: 1px solid #AFA79C;
padding: 5px 20px;
border-radius: 15px;
margin-right: 20px;  
}
.footer-ul li a{
    color: #AFA79C;
}
footer .p
{
    font-size: 10px;
    color: white;
    padding: 2px 20px 10px 42px;
}
  </style>